<form>
  <h1>TODO List</h1>
  <p>A place to store your todos</p>
  <input type="text" name="filter" id="filter" placeholder="Filter your to-dos">
  <ol>
    <li class="todo-item" *ngFor="let todoItem of sampleToDos">
      <button *ngIf="!todoItem.completed">Complete</button>
      <span [class.completed-task]="todoItem.completed">{{todoItem.task}}</span>
      <button>X</button>
    </li>
  </ol>
  <input type="text" name="add-text" id="add-text" placeholder="Add your to-do">
  <button type="submit" id="add-button">Add</button>
</form>