<form id="to-do-list-form">
  <h1 id="todo-heading">TODO List</h1>
  <p id="todo-description">A place to store your todos</p>
  <input type="text" name="filter-text" id="filter-text" placeholder="Filter your to-dos">
  <ol id="to-do-list">
    <li class="todo-item" *ngFor="let todoItem of sampleToDos">
      <button *ngIf="!todoItem.completed" class="complete-button">Complete</button>
      <span class="todo-text" [class.completed-task]="todoItem.completed">{{todoItem.task}}</span>
      <button class="remove-button">X</button>
    </li>
  </ol>
  <input type="text" name="add-text" id="add-text" placeholder="Add your to-do">
  <button type="submit" id="add-button">Add</button>
</form>